#body {
  background-color: #f9fbfc;
}

#topNavbar {
  background-color: #f9fbfc;
  padding-bottom: 0;
}

#topNavbarButton {
  background-color: #f9fbfc;
  padding-bottom: 0;
}

#isActiveButtonText {
  color: #3996b2;
}
#algorithmButtonColumn {
  padding-top: 15px;
  padding-bottom: 15px;
}

#needsButton {
  background-color: #72d9db;
}

#interestsButton {
  background-color: #72d9db;
}

#bottomNavbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1c598d;
}
