body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #fbf9fa, #6284ea);
    color: white;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    height: 100vh;            /* Full viewport height */
    margin: 0;
}
.container {
    max-width: 700px;
    height: 500px;
    background: rgb(105, 111, 174);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.options {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.option-instagram {
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f0f1;
 color:black;
    cursor: pointer;
    transition: 0.3s;
}
.option-app {
    padding: 20px;
    border-radius: 10px;
    background: rgba(156, 156, 157, 0.237);
    cursor: pointer;
    transition: 0.3s;
}
.option:hover {
    background: rgba(189, 157, 224, 0.3);
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #ecebee;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: #040404;
    color: white;
}
